:root {
  --brand-color: #2196f3;
  --dark-color-font: #212121;
  --less-dark-color-font: #757575;
  --button-color: #f5f4fa;
  --background-color-main-page: #2f303a;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--dark-color-font);
}
button:hover,
button:focus {
  background-color: var(--brand-color);
  transition: background-color 0.5s;
}
a:hover,
a:focus {
  color: var(--brand-color);
}
.button-style {
  height: 38px;
  border: none;
  background-color: var(--button-color);
  border-radius: 4px;
  cursor: pointer;
}
.button-font {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.7em;
}
.button-style-main {
  width: 200px;
  height: 50px;
  border: none;
  background-color: var(--brand-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}
.button-font-main {
  font-weight: 700;
  font-size: 16px;
  color: #ffffff;
  line-height: 1.85;
}
.logo-blue {
  font-family: Raleway;
  font-style: Bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 3%;
  color: var(--brand-color);
}
.logo-black {
  font-family: Raleway;
  font-size: 26px;
  line-height: 36px;
  letter-spacing: 3%;
  color: #000000;
  text-decoration: none;
}
.main-title-style {
  background-color: var(--background-color-main-page);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 6%;
  text-transform: uppercase;
  color: #ffffff;
}
.heading-two {
  font-style: bold;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 3%;
  color: var(--dark-color-font);
}
.name-style {
  font-size: 16px;
  font-style: medium;
  line-height: 1.19;
  letter-spacing: 3%;
  color: var(--dark-color-font);
}
.lorem-heading {
  font-style: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 3%;
  color: var(--dark-color-font);
}
.lorem-text {
  font-size: 14px;
  line-height: 1.7em;
  letter-spacing: 0.03em;
  color: var(--less-dark-color-font);
}
.position {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 3%;
  color: var(--less-dark-color-font);
}
.links {
  font-style: Medium;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 2%;
}
.navigation {
  font-style: Medium;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 2%;
}
a:link {
  text-decoration: none;
}
.link-style {
  font-style: normal;
  text-decoration: none;
  color: var(--dark-color-font);
}
.logo-style {
  text-decoration: none;
}
.adress {
  font-size: 14px;
  line-height: 1.46;
  letter-spacing: 3%;
  color: var(--dark-color-font);
  text-decoration: none;
}
.product {
  font-style: Bold;
  font-size: 18px;
  line-height: 1.71;
  letter-spacing: 6%;
  color: var(--dark-color-font);
}
.product-type {
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 3%;
  color: var(--less-dark-color-font);
}
.list-style {
list-style: none;
}